.section-list {
    padding-top: 94px;
    padding-bottom: 0px;
    margin: 0 auto;
    @include mq(phone) {
        padding-top: 60px;
    }
    @include mq(tablet) {
        padding-top: 60px;
    }
    @include mq(desktop) {
        padding-top: 94px;
    }
}
.lorem-list {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 30px;
    @include mq(phone) {
        display: flex;
        flex-direction: column;
    }
    @include mq(tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include mq(desktop) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
    }
}
.lorem-list__our-atributes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
    border-radius: 4px;
    background-color: $colorBackgroundSectionCards;
    padding: 25px 0px;
    margin-bottom: 30px;
    @include mq(phone) {
        max-width: 450px;
    }
    @include mq(tablet) {
        max-width: 354px;
    }
    @include mq(desktop) {
        display: flex;
        max-width: 270px;
    }
}

.lorem-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $mainColor;
    padding-bottom: 10px;
    @include mq(phone) {
        text-align: center;
    }
    @include mq(tablet) {
        text-align: left;
    }
    @include mq(desktop) {
        text-align: left;
    }
}

.lorem-list p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $colorIcon;
    gap: 30px;
    justify-content: flex-start;
}
