.section {
    padding: 94px 0;
}
.section__second-heading-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 30px;

    &__offers {
        position: relative;
    }
    &__offers img {
        vertical-align: bottom;
    }
    &__offers p {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primaryColor;
        background-color: rgba(47, 48, 58, 0.8);
        padding: 27px;
        bottom: 0;
    }
}
