$secondaryColor: #2196f3;
$colorStudio: #000000;
$primaryColor: #ffffff;
$mainColor: #212121;
$colorIcon: #757575;
$colorFooterWrapper: #2f303a;
$colorAddress: #ffffff99;
$colorSocialIcons: #afb1b8;
$colorBackgroundSectionCards: #f5f4fa;
$colorBackgroundSection: rgba(47, 48, 58, 0.4);
$colorBackgroundBackdrop: rgba(0, 0, 0, 0.2);
$colorHeader: #ececec;
$colorFigcaption: #eeeeee;
$fontFamily: 'Roboto', sans-serif;
